BODY {
	FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Arial
}
P {
	FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: Arial
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial
}
SMALL {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Arial
}
A:link {
	FONT-WEIGHT: normal; COLOR: #0033cc; TEXT-DECORATION: underline
}
A {
	CURSOR: hand; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #374d95; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: normal; COLOR: #0033cc; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: normal; COLOR: #ff3300; TEXT-DECORATION: underline
}
