.navtable {
	LEFT: 10px; POSITION: absolute; TOP: 110px
}
.text {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.sideNav0:link {
	FONT-WEIGHT: bold; BACKGROUND: #003399; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav0:visited {
	FONT-WEIGHT: bold; BACKGROUND: #003399; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav0:hover {
	FONT-WEIGHT: bold; BACKGROUND: #003399; COLOR: #ffcc66; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav1:link {
	FONT-WEIGHT: bold; BACKGROUND: #3366cc; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav1:visited {
	FONT-WEIGHT: bold; BACKGROUND: #3366cc; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav1:hover {
	FONT-WEIGHT: bold; BACKGROUND: #3366cc; COLOR: #ffcc66; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav2:link {
	FONT-WEIGHT: bold; BACKGROUND: #99ccff; COLOR: #000066; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav2:visited {
	FONT-WEIGHT: bold; BACKGROUND: #99ccff; COLOR: #003366; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav2:hover {
	FONT-WEIGHT: bold; BACKGROUND: #99ccff; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav11:link {
	FONT-WEIGHT: bold; BACKGROUND: #003399; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav11:visited {
	FONT-WEIGHT: bold; BACKGROUND: #003399; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.sideNav11:hover {
	FONT-WEIGHT: bold; BACKGROUND: #003399; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
.lv1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #003399; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.lv2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #3366cc; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.lv3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #99ccff; PADDING-BOTTOM: 0px; COLOR: #000066; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.lv1line {
	BACKGROUND: #ffcc99
}
.lv2line {
	BACKGROUND: #000033
}
.lv3line {
	BACKGROUND: #000033
}
.globalBkgrnd {
	BACKGROUND: #ffffff
}
.globalNavLink {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003366; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
A.globalNavLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #ff0000; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.globalNavLink2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
A.globalNavLink2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.loginTable {
	LEFT: 610px; POSITION: absolute; TOP: 106px
}
.logIn {
	FONT-SIZE: 8pt; COLOR: #000066; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif
}
.loginTextBox {
	FONT-SIZE: 8pt
}
.loginDropDownBorder {
	BACKGROUND: #000066
}
.loginBkgrnd {
	BACKGROUND: #ffffff
}
.loginNavLink {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #003366; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
A.loginNavLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #ff0000; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.bodyHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ff0000; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif
}
.bodyText {
	FONT-SIZE: 10pt; COLOR: #000066; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif
}
A.bodyLink:link {
	COLOR: #0000ff
}
A.bodyLink:visited {
	COLOR: #3366cc
}
.relatedProductsHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #dddddd; COLOR: #003399; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif
}
.relatedProductsList {
	FONT-SIZE: 9pt; BACKGROUND: #eeeeee; COLOR: #3366cc; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif
}
.blueLink {
	COLOR: #0000ff
}
.footerText {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.footerRedLink {
	FONT-SIZE: 8pt; COLOR: #ff0000; LINE-HEIGHT: 12pt; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.footerBlueLink {
	FONT-SIZE: 8pt; COLOR: #3366cc; LINE-HEIGHT: 12pt; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.footerBar {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.tdColBkgrnd {
	BACKGROUND: #003399
}
.dataText {
	FONT-SIZE: 8pt; COLOR: #000066; FONT-FAMILY: Arial,Helvetica,Univers,Zurich BT,sans-serif
}
.dataBodyA {
	BACKGROUND: #cccccc
}
.dataBodyB {
	BACKGROUND: #dadada
}
.featureCap {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #000066; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif
}
.featureBody {
	BACKGROUND: #3366cc
}
.featureFocusText {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffcc99; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.featureText {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
.dateText {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,Univers,Zurich BT,sans-serif; TEXT-DECORATION: none
}
