# Ignore artifacts:
dist
.astro

# Ignore node_modules
node_modules

# Ingore netlify folders
.netlify
netlify 

# Optionally skip formatting MDX (JSX-in-Markdown can be fragile under Prettier):
# **/*.mdx

# Ignore tours
.tours

# Standard
**/.git
**/.svn
**/.hg
**/node_modules