{0:14. FIRST ARTICLE TESTING REQUIREMENTS:}
{1:    A. COMPLETE DIMENSIONAL AND TOLERANCE}
{2:       VERIFICATION.}
{3: }
{4:    B. COMPLETE VERIFICATION OF ALL NOTES, INCLUDING TITLE}
{5:       BLOCK AND IDENTIFICATION MARKING INFORMATION.}
{6: }
{7:    C. TEST SAMPLE FAILURE}
{8:       FAILURE OF ANY TEST SAMPLE SHALL BE CAUSE FOR}
{9:       REJECTION OF THE ENTIRE REPRESENTATIVE PRODUCTION}
{10:       LOT.  ITEMS SHALL NOT BE PRESENTED FOR ACCEPTANCE}
{11:       AFTER A FAILURE UNTIL CORRECTIVE ACTION HAS}
{12:       ELIMINATED THE DEFECT AND THE ROOT CAUSE OF THE }
{13:       FAILURE.}
