{0:16. FIRST ARTICLE TESTING REQUIREMENTS:}
{1: }
{2:    A. COMPLETE DIMENSIONAL AND TOLERANCE}
{3:       VERIFICATION.}
{4: }
{5:    B. MATERIAL CERTIFICATION VERIFICATION.}
{6: }
{7:    C. COMPLETE VERIFICATION OF ALL NOTES, }
{8:       INCLUDING TITLE BLOCK AND IDENTIFICATION}
{9:       MARKING INFORMATION.}
{10: }
{11:    D. TEST SAMPLE FAILURE}
{12:       FAILURE OF ANY TEST SAMPLE SHALL BE CAUSE}
{13:       FOR REJECTION OF THE ENTIRE REPRESENTATIVE}
{14:       PRODUCTION LOT.  ITEMS SHALL NOT BE PRESENTED}
{15:       FOR ACCEPTANCE AFTER A FAILURE UNTIL}
{16:       CORRECTIVE ACTION HAS ELIMINATED THE DEFECT}
{17:       AND THE ROOT CAUSE OF THE FAILURE.}
{18: }
