UNKNOWN {
	FONT-SIZE: small; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TR {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: small; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-SIZE: medium; COLOR: #666666; BORDER-TOP-STYLE: outset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BORDER-BOTTOM-STYLE: outset
}
LI {
	MARGIN-TOP: 10px; FONT-SIZE: small; MARGIN-BOTTOM: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.NumberedList {
	MARGIN-TOP: 10px; FONT-SIZE: small; MARGIN-BOTTOM: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Note {
	MARGIN-TOP: 10px; FONT-SIZE: small; MARGIN-BOTTOM: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Image {
	MARGIN-TOP: 10px; FONT-SIZE: small; MARGIN-BOTTOM: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Bullets {
	LIST-STYLE-TYPE: lower-alpha
}
.Tip {
	MARGIN-TOP: 10px; FONT-SIZE: small; MARGIN-BOTTOM: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Info {
	MARGIN-TOP: 10px; FONT-SIZE: small; MARGIN-BOTTOM: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
